# Use this notebook for your 3 choices of APIs

# Whisky

In [4]:
import requests
import pandas as pd

url = 'https://whiskyhunter.net/api/auctions_data/'
headers = {
    'accept': 'application/json',
    'X-CSRFToken': '7no6OEaBxe6oKKj1bMqmrD3hh8IxCBH1rVSk3S8x41S0V1n27sbppky4E2XG90va'
}
response = requests.get(url, headers=headers)
result = response.json()
df = pd.DataFrame.from_dict(result)
df.head()

,dt,winning_bid_max,winning_bid_min,winning_bid_mean,auction_trading_volume,auction_lots_count,all_auctions_lots_count,auction_name,auction_slug
0,2024-04-01,10336.9,12.9,250.20,229429.0,917,40413,Australian Whisky Auctions,australian-whisky-auctions
1,2024-04-01,8700.8,0.0,195.49,1024542.6,5241,40413,Catawiki Whisky Auction,catawiki
2,2024-04-01,940.2,12.8,166.94,16527.4,99,40413,Celtic Whiskey Auction,celtic-whiskey-auction
3,2024-04-01,4273.5,0.9,118.73,304179.2,2562,40413,Ebay Whisky Auctions,ebay-whisky-auctions
4,2024-04-01,1651.4,13.6,226.66,56665.8,250,40413,European Whisky Auctions,european-whisky-auctions

# Jokes

In [6]:
import json

url = 'https://api.chucknorris.io/jokes/random'
response = requests.get(url)
response.content
# turn into dict from bytestring

decoded_string = response.content.decode('utf-8')
my_dict = json.loads(decoded_string)

In [7]:
list_jokes = []

for i in range(10):
    url = 'https://api.chucknorris.io/jokes/random'
    response = requests.get(url)
    decoded_string = response.content.decode('utf-8')
    jokes_dict = json.loads(decoded_string)
    joke = jokes_dict.get('value')
    list_jokes.append(joke)

In [8]:
joke = my_dict.get('value')
jokes = pd.DataFrame(list_jokes)
jokes.columns = ['Joke']
jokes

                                                Joke
0     Of course Chuck Norris' closet goes to Narnia.
1  Chuck Norris owns several very successful fune...
2  Davy Crockett shot his first bear when he was ...
3  CHUCK NORRIS ONCE DONE THE SPLITS ON 2 VAN DAMMES
4  Kryptonite has been found to contain trace ele...
5          The Zohan doesn't mess with Chuck Norris.
6  Ouija Boards have recently been re-designed to...
7  If u see Chuck Norris you should run,if u can ...
8  Chuck Norris's "Will" will never be stronger t...
9  Chuck Norris don't do facebook. No one can eve...

# Colour

In [9]:
import requests

# Define the URL
url = 'http://colormind.io/api/'

# Define the payload (data)
data = '{"model":"default"}'

response = requests.get(url, data=data)

# Print the response
# print(response.json())
response_json = response.json()
colors = response_json['result']
colors
df = pd.DataFrame(colors, columns=['R', 'G', 'B'])
df

     R    G   B
0  203  165  37
1  216   74  70
2  172   11  11
3  159    9  17
4   66    8  10